
<div class="row text-center" style="padding-top: 10%" >
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<div style="color:orange">
		<%= params[:notice]%>
		<%=params[:alert]%>
		</div>

		<div class="jumbotron">
<h1 style="color:orange; margin-bottom:20px"	> Welcom TO Arab Blogger</h1>

<h2><%= link_to 'Blog' , articles_path ,class:'btn btn-lg btn-warning' %></h2>
</div>
</div>
	<div class="col-md-2"></div>

</div>

